
<article class="faqSection">
    <h2>Så hvad kan du selv gøre?</h2>
    
    <section class="infoSection">
    <div class="infoBox">
        <img src="/infografik_mission/vandhane_1.svg"class="faqIcon"  width="auto"
        height="50px" alt="Brev ikon"/>
        <p class="pSecondary">Drik vand fra hanen</p>
    </div>
    <div class="infoBox">
        <img src="/infografik_mission/metalflaske.svg" class="faqIcon" width="auto"
        height="85px" alt="Fradragsregler"/>
        <p class="pSecondary">Brug en metal drikkedunk</p>
    </div>
    <div class="infoBox">
        <img src="/infografik_mission/ske_1.svg" class="faqIcon" width="50%"
        height="60px" alt="Bidrag ikon"/>
        <p class="pSecondary">Brug madlavningsredskaber 
            af stål eller træ.</p>
    </div>
    <div class="infoBox">
        <img src="/infografik_mission/togokop.svg" class="faqIcon" width="auto"
        height="55px" alt="Contact us icon"/>
        <p class="pSecondary">Brug din egen termokop 
            af stål i stedet for et 
            papkrus </p>
    </div>
    <div class="infoBox">
        <img src="/infografik_mission/giftig.svg" class="faqIcon" width="auto"
        height="85px" alt="Contact us icon"/>
        <p class="pSecondary">Undgå polymer & crosspolymer i
            dine produkter</p>
    </div>
    <div class="infoBox">
        <img src="/infografik_mission/faar.svg" class="faqIcon" width="auto"
        height="60px" alt="Contact us icon"/>
        <p class="pSecondary">Gå i tøj, som ikke indeholder 
            polyester, nylon og elastan.</p>
    </div>
    </section>
    </article>
    
    <style>
    
        article {
        background-color: var(--dark-blue);
        }

        .faqSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            margin:0;
        }
    
        .infoSection {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        
        .infoBox {
            display: flex;
            flex-direction: column;
            gap:1rem;
            align-items: center;
            padding-bottom: 2rem;
            padding-top: 1rem;
        }
        
        .faqIcon {
            transition: transform 0.5s ease;
        }
    
        .faqIcon:hover {
            transform: scale(1.10);
        }
    
        h2 {
            padding-bottom: 2rem;
            padding-top: 3rem;

        }

        p {
            color: var(--white);
        }
    
        .faqText {
            max-width: 10px;
        }
        
        @media screen and (min-width: 800px) {

            .pSecondary {
                text-align: center;
            }

            h2 {
            padding-bottom: 7rem;
            padding-top: 3rem;

        }
    
            .faqSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 5rem;
            padding: 10rem;
        }
    
            .infoSection {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem;
        }
    
        .faqIcon {
          height: 120px;
        }
    
        .infoBox {
            display: flex;
            flex-direction: column;
            gap:1rem;
            align-items: center;
        }
        }
    
    </style>
    
    <script>
        import { gsap } from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";
    
      gsap.registerPlugin(ScrollTrigger);
    
      gsap.from(".h2Secondary", {
          yPercent: 50,
          duration: 4,
          opacity: 0,
          stagger: 0.2,
          scrollTrigger: {
            trigger: ".faqSection",
            start: "start 90%",
            end: "center 60%",
            scrub: true,
        }
      });
    
      </script>
      