<section>
    <div>
        <h1>Mission Mikroplastik</h1>
        <p>Vi arbejder målrettet på at skubbe den politiske dagsorden
            i retning mod et samfund, hvor vi i langt højere grad vasker
            vores ting op og bruger dem igen og igen. Hvor vi generelt 
            bruger mindre plastik, end vi gør vi i dag, og hvor det er langt
            lettere som forbruger at undgå mikroplastik og skadelig kemi
            i hverdagen.</p>
    </div>
</section>

<style>
    section {
        background-color: var(--dark-blue);
    }
    
    h1{
        padding-top: 2rem;
        padding-left: 2rem;
    }

    p {
        padding-left: 2rem;
        padding-top: 2rem;
    }
</style>