<article class="secondaryBoxSection">
    <section>
    <h2>Mikroplastisk i mad-og drikkevarer</h2>
    <h3>Mikroplast er bl.a. fundet i:</h3>
     
        <div class="infoIconSection">
        <div class="oneInfo fisk">  
               <p>Fisk</p>
            <img src="/infografik_mission/fisk.svg" alt="img" class="infographicicon icon1"style="width: 60%; height: auto;">
            </div>
        </div>
    
        <div class="infoIconSection">
            <div></div>
            <div class="oneInfo oel">
                <p>Øl</p>
            <img src="/infografik_mission/oel.svg" alt="img" class="infographicicon icon2" style="width: 20%; height: auto;"> 
            </div>
        </div>
    
        <div class="infoIconSection">
            <div class="oneInfo vin">
                <p>Vin</p>
                <img src="/infografik_mission/vin.svg" alt="img" class="infographicicon icon3" style="width: 20%; height: auto;">
            </div>
        </div>
</section>

        <div class="centered-container">
            <div class="vandflaske_section">
              <div class="oneInfo vandflaske">
                <img src="/infografik_mission/vandflaske.svg" alt="img" class="infographicicon icon4" style="width: 10%; height: auto;"> 
            <div>
            </div>
                    <h1 class="h1_number">325</h1>
                    <p>Mikropartikler 
                        af plastik i 1 liter købevand</p>
                <p class="p_section">Antallet af plastikpartikler varierer, men i nogle produkter
                    finder man helt op til 1000 partikler per liter. Ligesom der er 
                    fundet mikroplastik i fisk, hvilket er grund til bekymring pga. 
                    kemikalier, der kan migrere ind i fiskekødet, som vi spiser.</p>

                <p class="p_section">Når man bruger plastikprodukter, frigives mikroplastik ud 
                    i vores miljø. Plastikprodukter afgiver mikroplastik, når de slides.</p>

                <p class="p_section">Eksempelvis slides der mikroplastik fra bildæk (der er lavet af 
                    syntetisk gummi), når man kører og bremser, fra syntetiske
                    tekstiler, når de vaskes, og fra maling, når det slides af</p>

                <p class="p_section">Derudover
                    indeholder visse kosmetik- og plejeprodukter tilsat mikroplastik, 
                    som ender i vores miljø via spildevandet, når de vaskes af huden.</p>

                <h2 class="h2_second">Slid og spild i forbruget</h2>
                <h3>De følgende industrier anses som de største syndere på
                    verdensplan (målt i vægt):</h3>
            </div>
        </div>
</div>

        <div class="infoIconSection">
            <div class="oneInfo daek">  
                   <p>Dæk på biler, cykler og andre køretøjer</p>
                <img src="/infografik_mission/bildaek.svg" alt="img" class="infographicicon icon1"style="width: 40%;">
                </div>
            </div>
        
            <div class="infoIconSection">
                <div></div>
                <div class="oneInfo toej">
                    <p>Tøj, der er lavet af syntetiske plastikfibre (f.eks. polyester, nylon, akryl)</p>
                <img src="/infografik_mission/buksogbluse.svg" alt="img" class="infographicicon icon2" style="width: 80%;"> 
                </div>
            </div>
        
            <div class="infoIconSection">
                <div class="oneInfo maling">
                    <p>Maling. sol, vind og vejr vil med
                        tiden slide mikroplastik af malingen.</p>
                    <img src="/infografik_mission/maling.svg" alt="img" class="infographicicon icon3" style="width: 40%;">
                </div>
            </div>
        
            <div class="infoIconSection">
                <div></div>
                <div class="oneInfo creme">
                    <p>Kosmetik og-plejeprodukter der er
                        tilsat mikroplastik.</p>
                    <img src="/infografik_mission/creme.svg" alt="img" class="infographicicon icon4" style="width: 30%; ">
                <div>
                </div>
                </div>
            </div>

                <h2 class="secondary_h2"><span>951.000</span> tons mikroplastik</h2>
                <h3 class="secondary_h3">Estimeres at blive spildt ud i vores miljø
                    <span>hvert år</span></h3>

    <style>

.h1_number {
    margin-top: 2rem;
}

.daek {
    padding-top: 7rem;
}

.vandflaske {
    margin-left: 3rem;
    margin-right: 3rem;
}

.p_section {
    margin: 2rem;
    text-align: left;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.vandflaske_section {
  text-align: center;
}

.oneInfo.vandflaske {
  display: inline-block;
}


span{
    text-decoration: underline;
    text-decoration-color: var(--primary-red);
    text-decoration-thickness: 6px;
}
    .h2_heading {
        padding-top: 8rem;
    }

    article {
        height: 175rem;
    }

    h3, h2 {
    text-align: center;
    }

    h2 {
        padding-top: 6rem;
    }
    
    .linkText {
        text-align: center;
    }
    
    .pHeading {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: Campton;
        margin-bottom: 0.5rem;
    }
    
    .infographicicon {
        height: auto;
        width: 100px;
    }
    
    .infoIconSection {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:2rem;
        grid-column: 30rem;
        margin-left: 5rem;
       margin-top: 5rem;
    }
    
    .iconSection {
        position: absolute;
        top: 178%;
    }
    
    .oneInfo {
        display: flex;
        flex-direction: column;
    }

    
    a {
        color: var(--secondary--blue);
        font-family: Campton;
        text-decoration: underline;
        font-weight: 400;
    }
    
    a:hover {
       color: var(--primary--red);
    }
    
    .linkTextSection {
      margin: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    @media screen and (min-width: 800px) { 
    

    
    .infoIconSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-column: 30rem;
        margin-left: 10rem;
        margin-top: 8rem;
    
    }
    
    .iconSection {
        position: absolute;
        top: 150%;
    }
    
    .oneInfo {
        display: flex;
        flex-direction: column;
        padding-left: 7rem;
        padding-right: 7rem;
        gap: 3rem;
    }
    
    article {
        height: 290rem;
    
    }
    .linkText {
        margin-top: 7rem;
        text-align: center;
        font-size: 1.5rem;
    }

    h3 {
        padding-bottom: 3rem;
    }
    
    }
    </style>
    
    <script>
        import { gsap } from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";
     
    
      gsap.registerPlugin(ScrollTrigger);
    gsap.from("h2", {
          yPercent: 50,
          duration: 4,
          opacity: 0,
          stagger: 0.2,
          scrollTrigger: {
            trigger: "h2",
            start: "start 80%",
            end: "bottom center",
            scrub: true,
        }
      });

      gsap.registerPlugin(ScrollTrigger);
    gsap.from("h3", {
          yPercent: 50,
          duration: 4,
          opacity: 0,
          stagger: 0.2,
          scrollTrigger: {
            trigger: "h3",
            start: "start 80%",
            end: "bottom center",
            scrub: true,
        }
      });
    
    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".fisk", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".fisk",
          start: "start 80%",
          end: "bottom center",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".oel", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".oel",
          start: "start 80%",
          end: "bottom center",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".vin", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".vin",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });
    
    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".vandflaske", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".vandflaske",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".daek", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".daek",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".toej", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".toej",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".maling", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".maling",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".creme", {
        yPercent: 50,
        duration: 4,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".creme",
          start: "start 80%",
          end: "bottom bottom",
          scrub: true,
      }
    });

    
    </script>