<article class="boxGridSection">
<section class="tertiaryBoxSection">
    <h1 class="headingBox h1Secondary">
        Sammen kan vi <span>beskytte naturen</span>, <span>dyrelivet</span> og <span>vores børn</span> mod plastik
    </h1>
</section>
<section class="boxParagraph primaryBoxSection">
    <p class="boxtext">
        Som medlem kan du gå forrest i kampen for at få politikere og virksomheder til at standse overproduktionen af plastik! Hvert år støtter du os med et fast beløb, så vi sammen kan kæmpe for en renere og sundere fremtid.
    </p>
    <p><br></p>
    <p class="boxText">
        Kun med din støtte kan vi redde vores sårbare natur fra forurening og beskytte havets sæler, skildpadder og delfiner mod at blive viklet ind og kvalt i plastaffald. Sammen får vi en stærkere stemme, så vi kan råbe politikere og virksomheder op – og få dem til at fjerne hormonforstyrrende og sundhedsskadelig emballage fra de fødevarer, som vi og vores børn spiser.
</section>
</section>
</article>

<style>

.headingBox {
    padding:2.9rem;
    font-size: 2.3rem;

}

.boxParagraph {
    padding:2.9rem;
}

span{
    text-decoration: underline;
    text-decoration-color: var(--primary-red);
    text-decoration-thickness: 3.5px;
}


@media screen and (min-width: 800px) {

    .headingBox {
    padding-top:13rem;
    padding-bottom:13rem;
    font-size: 4rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

}

.boxParagraph {
    padding-top:13.5rem;
    padding-bottom:13.5rem;
    padding-left: 5.1rem;
    padding-right: 5.1rem;

}

    .boxGridSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

</style>

<script>
    import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
 

  gsap.registerPlugin(ScrollTrigger);
    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".headingBox", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".tertiaryBoxSection",
        start: "top 90%",
        end: "bottom bottom ",
        scrub: true,
      }
    });
</script>