<section>
    <img src="public/img/placeholderfoto_landingpage.jpg" alt="img">
</section>

<style>
    * {
        margin:0;
        padding:0;
    }
    
    img {
        height: 100vh;
        width: 100%;
    }
</style>