---
import MedlemFormular from "./MedlemFormular.astro";
---
<section>
    <div class="formularMedlem">
        <MedlemFormular/>
    </div>
    <img class="HeroImg" src="/img/medlem_hero.webp" alt="Skrald og plastik i havet">
</section>

<style>

    .formularMedlem {
        display: flex;
        justify-content: center;
    }
    * {
        margin:0;
        padding:0;
    }

    section {
        position: relative;
    }
</style>