<section class="HeroSection">
    <h1>Det er ikke kun Jorden der bliver kvalt af mikroplastik</h1>
    <p>Mikroplastik er småt, men problemet er stort. Vi ved det fourener vores jord, men mikroplastik ender også i vores mad, vand og endda i blodet.</p>
    <img src="public/img/placeholderfoto_landingpage.jpg" alt="">
</section>

<style>

    .HeroSection {
        position: relative;
    }
    .HeroSection h1 {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        padding-bottom: 5.5rem;
        width: 16ch;
    }

    .HeroSection p {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        width: 43ch;
    }

    img {
        width: 100%;
    }

    @media screen and (min-width: 800px) {
        .HeroSection h1 {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        padding-bottom: 5.5rem;
        width: 16ch;
    }

    .HeroSection p {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        width: initial;
    }
    }
</style>