
<section class="HeroSection">
    <p class="heading_p">PLASTIC CHANGE</p>
    <h1>Det er ikke kun <span>Jorden</span> der bliver <span>kvalt</span> af <span>mikroplastik</span></h1>
    <p>Mikroplastik er småt, men problemet er stort. Vi ved det fourener vores jord, men mikroplastik ender også i vores mad, vand og endda i blodet.</p>
    <img src="/img/laurits.jpg" alt="Mand der kvæles af plastik">
</section>

<style>

.heading_p {
  margin-bottom: 16rem;
}

    .HeroSection {
        position: relative;
        height: 100vh;
    }

    span{
    text-decoration: underline;
    text-decoration-color: var(--primary-red);
    text-decoration-thickness: 6px;
}
    .HeroSection h1 {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        padding-bottom: 5.5rem;
        width: 16ch;
    }

    .HeroSection p {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        width: 43ch;
    }

    img {
        height: 100vh;
        width: 100%;
    }
     

    @media screen and (min-width: 800px) {

        .heading_p {
        margin-bottom: 19rem;
        }
        .HeroSection h1 {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        padding-bottom: 5.5rem;
        width: 16ch;
    }

    .HeroSection p {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        width: initial;
    }

    }
</style>