<article>
<section>
<h2 class="h1Secondary">Så småt, er et stort problem</h2>
<div class="infoRoot">
    <img src="public/img/gren2.svg" alt="img" class="infographicLine">
</div>


<div class="iconSection">

    <div class="infoIconSection">
        <div></div>
    <div class="oneInfo">
        <img src="public/img/lub.svg" alt="img" class="infographicicon icon1"> 
        <div>
            <p class="pSecondary pHeading header1">Mikroplastiks størrelse</p>
            <p class="pSecondary p1">Plastik under 5 millimeter betegnes som mikroplastik. Dette kan være fibre, film, eller skum og i alle typer, farver og former.</p></div>
    </div>
    </div>


    <div class="infoIconSection">
    <div class="oneInfo">
        <img src="public/img/tandpasta.svg" alt="img" class="infographicicon icon2">
        <div>
            <p class="pSecondary pHeading header2">Mikroplastik i plejeprodukter</p>
            <p class="pSecondary p2">Mange plejeprodukter indeholder mikroplastik. F.eks. tilsættes slibekorn i nogle tandpastaer, som ender i spildevandet når det skylles ned i vasken.</p></div>
    </div>
        <div></div>
    </div>


    <div class="infoIconSection">
        <div></div>
        <div class="oneInfo">
        <img src="public/img/plastikpose.svg" alt="img" class="infographicicon icon3">
        <div>
            <p class="pSecondary pHeading header3">Plastik i havet</p>
            <p class="pSecondary p3">Når plastikposer ender i havet vil UV-lys og bølger nedbryde dem hurtigere. Synker den, går nedbrydningsprocessen i stå. Plastikposen vil i løbet af år fragmenteres til mindre og mindre stykker.</p>
        </div>
        </div>
    </div>

    <div class="infoIconSection">
        <div class="oneInfo">
            <img src="public/img/tshirt.svg" alt="img" class="infographicicon icon4">
        <div>
            <p class="pSecondary pHeading header4">Syntetiske plastikfibre</p>
            <p class="pSecondary p4">Tøj af syntetiske plastikfibre (polyester, nylon, akryl), afgiver mikroplastik til spildevandet, når de fremstilles, med en lang forarbejdningsproces med tilsætning af farver og kemi.</p>
        </div>  
    </div>
    <div></div>
    </div>

    <div class="infoIconSection">
        <div></div>
        <div class="oneInfo">
            <img src="public/img/vaskemaskine.svg" alt="img" class="infographicicon icon5">
        <div>
            <p class="pSecondary pHeading header5">Mikroplastik i spildevandsanlæget</p>
            <p class="pSecondary p5">Når tøjet vaskes afgives der mikroplastik som bliver skyllet med vaskevandet ud i afløbet. Dernæst i spildevandsanlæget som nogle steder bliver brugt som gødning til landbruget.</p>
        </div>
        </div>
    </div>


</section>
<section class="linkTextSection">
<a class="linkText" href="/rejsen.html">Bliv klogere på hvorfor mikroplastik er så stort et problem</a>
</section>
</article>


<style>

.linkText {
    text-align: center;
}

.pHeading {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Campton;
    margin-bottom: 0.5rem;
}

.infographicLine {
    height: 50rem;
    width: auto;

}

.infoRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infographicicon {
    height: auto;
    width: 100px;
}

.infoIconSection {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    grid-column: 30rem;

}

.iconSection {
    position: absolute;
    top: 178%;
}

.oneInfo {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    margin: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

a {
    color: var(--secondary--blue);
    font-family: Campton;
    text-decoration: underline;
    font-weight: 400;
}

a:hover {
   color: var(--primary--red);
}


@media screen and (min-width: 800px) { 

    .infographicLine {
    height: 170rem;
    width: auto;

}

.infoRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infographicicon {
    height: auto;
    width: 300px;
}

.infoIconSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-column: 30rem;

}

.iconSection {
    position: absolute;
    top: 257%;
}

.oneInfo {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-right: 7rem;
    gap: 3rem;
}

h2 {
    text-align: center;
    margin: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

article {
    margin-bottom: 20rem;
}

.linkText {
    margin-top: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.linkTextSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--secondary--blue);
    font-family: Campton;
    text-decoration: underline;
    font-weight: 400;
}

a:hover {
   color: var(--primary-red);
}

}

</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
 

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".h1Secondary", {
      yPercent: 50,
      duration: 4,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".h1Secondary",
        start: "start 80%",
        end: "bottom center",
        scrub: true,
    }
  });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".icon1", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".icon1",
        start: "top 70%",
        end: "bottom center ",
        scrub: true,
      }
    });


    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".header1", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".header1",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
      }
    });


    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".p1", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".p1",
        start: "top 95%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".icon2", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".icon2",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".header2", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".header2",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });


    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".p2", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".p2",
        start: "top 70%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".icon3", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".icon3",
        start: "top 70%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".header3", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".header3",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".p3", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".p3",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".icon4", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".icon4",
        start: "top 70%",
        end: "bottom center ",
        scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".header4", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".header4",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".p4", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".p4",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".icon5", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".icon5",
        start: "top 70%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".header5", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".header5",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".p5", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".p5",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
        markers: true,
      }
    });




	
</script>