<article>
<section>
<h2 class="h1Secondary">Så småt, er et stort problem</h2>
<div class="infoRoot">
    <img src="public/img/streger.svg" alt="img" class="infographicLine">
</div>


<div class="iconSection">

    <div class="infoIconSection">
    <div><img src="public/img/lub.svg" alt="img" class="infographicicon"></div>
        <div>
            <p class="pSecondary">Mikroplastiks størrelse</p>
            <p class="pSecondary">Plastik under 5 millimeter betegnes som mikroplastik. Dette kan være fibre, film, eller skum og i alle typer, farver og former.</p></div>
    </div>


    <div class="infoIconSection">
        <div>
            <p class="pSecondary">Mikroplastik i plejeprodukter</p>
            <p class="pSecondary">Mange plejeprodukter indeholder mikroplastik. F.eks. tilsættes slibekorn i nogle tandpastaer, som ender i spildevandet når det skylles ned i vasken.</p></div>
        <div><img src="public/img/tandpasta.svg" alt="img" class="infographicicon"></div>
    </div>


    <div class="infoIconSection">
        <div><img src="public/img/plastikpose.svg" alt="img" class="infographicicon"></div>
        <div>
            <p class="pSecondary">Plastik i havet</p>
            <p class="pSecondary">Når plastikposer ender i havet vil UV-lys og bølger nedbryde dem hurtigere. Synker den, går nedbrydningsprocessen i stå. Plastikposen vil i løbet af år fragmenteres til mindre og mindre stykker.</p>
        </div>
    </div>

    <div class="infoIconSection">
        <div>
            <p class="pSecondary">Syntetiske plastikfibre</p>
            <p class="pSecondary">Tøj af syntetiske plastikfibre (polyester, nylon, akryl), afgiver mikroplastik til spildevandet, når de fremstilles, med en lang forarbejdningsproces med tilsætning af farver og kemi.</p>
        </div>  
        <div><img src="public/img/tshirt.svg" alt="img" class="infographicicon"></div>
    </div>

    <div class="infoIconSection">
        <div><img src="public/img/vaskemaskine.svg" alt="img" class="infographicicon"></div>
        <div>
            <p class="pSecondary">Mikroplastik i spildevandsanlæget</p>
            <p class="pSecondary">Når tøjet vaskes afgives der mikroplastik som bliver skyllet med vaskevandet ud i afløbet. Dernæst i spildevandsanlæget som nogle steder bliver brugt som gødning til landbruget.</p>
        </div>
    </div>

</div>


</section>

</article>


<style>



.infographicLine {
    height: 50rem;
    width: auto;

}

.infoRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infographicicon {
    height: auto;
    width: 100px;
}

.infoIconSection {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    grid-column: 30rem;

}

.iconSection {
    position: absolute;
    top: 178%;
}

h2 {
    text-align: center;
    margin: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

</style>