<section>
    <h1 class="h1Secondary h1Blaa">Vi bruger dit bidrag med omtanke</h1>
    <div class="infografik-fordeling">
        <img src="img/infografik-fordeling.png" alt="infografik-fordeling">
    </div>
    
</section>

<style>

    .infografik-fordeling {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 80%;
    }

</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
 

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".h1Secondary", {
      yPercent: 50,
      duration: 4,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".h1Secondary",
        start: "start 80%",
        end: "bottom center",
        scrub: true,
    }
  });




</script>