---
import BTN1 from "../BTN1.astro";
---
<section class="formBox">
    <div>
        <h2>Støt os i kampen</h2>
        <p>Du kan støtte månedligt eller med engangbetaling. Alt støtte går til kampen for et plastikfrit samfund.</p>
    </div>

    <div>
        <button class="stoetBTN1 tertiaryBTN">
        </button>
        <p>Én gang</p>

        <button class="stoetBTN1 tertiaryBTN">
        </button>
        <p>Månedligt</p>
    </div>

    <div>
        <BTN1 data="Støt nu"/>
        <p>Og fortsæt til betaling</p>
    </div>
</section>

<style>
    .stoetBTN1 {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: none;
        outline: none;
    }
</style>