---
import StoetFormular from "./StoetFormular.astro";

---
<section class="stoetHero">
        <StoetFormular/>
    <img class="HeroImg" src="/img/stoet_hero.webp" alt="Plast og skrald på en strand">

    <section class="stoetGrid">
        <div class="stoetRedGrid primaryBoxSection">
        </div>
        <div class="bidragSection">
            <div>
                <h2 class="h2Secondary">Dit bidrag til os</h2>
                <h3 class="h3Secondary">kan blandt andet hjælpe med..</h3>
            </div>

            <div class="stoetIkoner">
                <img src="/icons/jorden.svg" alt="Ikon af jorden">
                <p class="pSecondary">At forstærke kampen og indsatsen i vores politiske plastik-forslag.</p>
            </div>

            <div class="stoetIkoner">
                <img src="/icons/fisk.svg" alt="Ikon af en fisk">
                <p class="pSecondary">Beskytte naturen og havet mod plastikforurening. </p>
            </div>

            <div class="stoetIkoner">
                <img src="/icons/fodaftryk.svg" alt="Ikon af en fod">
                <p class="pSecondary">Mindske klimaaftryk. </p>
            </div>

            <div class="stoetIkoner">
                <img src="/icons/kemikaler.svg" alt="Ikon af kemikalier">
                <p class="pSecondary">Beskytte folkesundheden mod skadelig kemi.</p>
            </div>
        </div>
    </section>

</section>

<style>
    .stoetRedGrid {
        width: 133px;
        height: 700px;
        }
    .stoetGrid {
        display: flex;
        place-items: center;
        }

    .bidragSection {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2.5rem;
    }
    .stoetIkoner {
        display: flex;
        max-width: 48ch;
        gap: 2rem;
        transition: transform 0.5s ease;
    }

    .stoetIkoner:hover {
        transform: scale(1.05);
    }

    .stoetIkoner img {
        width: 55px;
        height: auto;
    }


    @media screen and (min-width: 800px) {

        .stoetGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        place-items: center;
        }

        .stoetIkoner img {
        width: 75px;
        }

        .stoetRedGrid {
        width: 486px;
        height: 730px;
        }

        .bidragSection {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-left: 7rem;
        }

    }
</style>

<script>
    import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
 

  gsap.registerPlugin(ScrollTrigger);
    gsap.from(".h2Secondary", {
      x: 700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".h2Secondary",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
      }
    });

gsap.registerPlugin(ScrollTrigger);
gsap.from(".h3Secondary", {
  x: 700,
  duration: 8,
  opacity: 0,
  stagger: 0.2,
  scrollTrigger: {
    trigger: ".h3Secondary",
    start: "top 90%",
    end: "bottom center ",
    scrub: true,
  }
});

gsap.registerPlugin(ScrollTrigger);
gsap.from(".stoetIkoner", {
  x: 700,
  duration: 8,
  opacity: 0,
  stagger: 0.2,
  scrollTrigger: {
    trigger: ".stoetIkoner",
    start: "top 90%",
    end: "bottom center ",
    scrub: true,
  }
});

</script>