<section>
    <h1 class="h1Secondary h1Blaa">Vi bruger dit bidrag med omtanke</h1>

    <div class="infografik-fordeling">
        <img class="posen" src="/infografik_stoet/posen.png" alt="infografik-fordeling">
        <img class="posenMobil" src="/infografik_stoet/posenMobil.png" alt="">
        <div class="procenterne">
            <div class="Procent70">
                <p class="pSecondary">Langt størstedelen af <span>din støtte går til hav- og miljøindsatser</span>, hvor vi arbejder for at mindske plastikforurening – både i Danmark og internationalt. Det gør vi blandt andet gennem <span>oplysning, vidensdeling, events, undervisning og foredrag</span>. Vi står også i spidsen for årlige oprydninger i naturen sammen med andre organisationer fra hele verden. </p>
            </div>
            <div class="Procent22">
                <p class="pSecondary">En del af din støtte bidrager til at lægge et <span>politisk pres</span> for forbedret miljølovgivning. Derudover støtter du <span>fundraising og indsamlinger</span> for Plastic Changer bevægelsens vækst.</p>
            </div>
            <div class="Procent8">
                <p class="pSecondary">Og så går en lille del til <span>administration</span>, og til at give Plastic Change et sted at bo.</p>
            </div>
        </div>

    </div>
    
</section>

<style>

    .posenMobil {
        display: block;
        width: 100%;
    }
    .posen {
        width: 100%;
        display: none;
    }

    .Procent70 {
        display: none;
    }
    .Procent22 {
        display: none;
    }
    .Procent8 {
        display: none;
    }

    .infografik-fordeling {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    /* .procenterne p {
        font-size: 10px;
        max-width: 25ch;
    }

    .Procent70 {
        text-align: right;
        position: absolute;
        left: 4.5vw;
        bottom: 46vw;
    }

    .Procent22 {
        position: absolute;
        right: 3vw;
        bottom: 24vw;
    }

    .Procent8 {
        text-align: right;
        position: absolute;
        left: 4.5vw;
        bottom: 20vw;
    }



    /*  */

    @media screen and (min-width: 800px) { 

        .procenterne p {
        font-size: initial;
        max-width: 30ch;
    }

        span {
            color: var(--primary-red)
        }

        .posen {
            width: 80%;
            display: block;
        }
        .posenMobil {
            display: none;
        }
        .Procent70 {
        display: block;
        text-align: right;
        position: absolute;
        left: 9.3vw;
        bottom: 37vw;
    }

        .Procent22 {
        display: block;
        position: absolute;
        right: 8vw;
        bottom: 18.5vw;
    }

        .Procent8 {
        display: block;
        text-align: right;
        position: absolute;
        left: 9.3vw;
        bottom: 16.5vw;
    }
    }

</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
 

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".h1Secondary", {
      yPercent: 50,
      duration: 4,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".h1Secondary",
        start: "start 80%",
        end: "bottom center",
        scrub: true,
    }
  });

  gsap.from(".Procent70", {
scrollTrigger: {
        trigger: ".Procent70",
        start: "start 80%",
        end: "bottom top",
        scrub: true,
},
    opacity:0,
    
        });
            gsap.to(".Procent70", {
scrollTrigger: {
        trigger: ".Procent70",
        start: "start top",
        end: "start top",
        scrub: true,
},
    opacity:100,
        duration: 5,
        });

        gsap.from(".Procent22", {
scrollTrigger: {
        trigger: ".Procent22",
        start: "start 80%",
        end: "bottom top",
        scrub: true,
},
    opacity:0,
    
        });
            gsap.to(".Procent22", {
scrollTrigger: {
        trigger: ".Procent22",
        start: "start top",
        end: "start top",
        scrub: true,
},
    opacity:100,
        duration: 1,
        });

        gsap.from(".Procent8", {
scrollTrigger: {
        trigger: ".Procent22",
        start: "start 80%",
        end: "bottom top",
        scrub: true,
},
    opacity:0,
    
        });
            gsap.to(".Procent8", {
scrollTrigger: {
        trigger: ".Procent22",
        start: "start top",
        end: "start top",
        scrub: true,
},
    opacity:100,
        duration: 0.1,
        });
</script>