<section>
    <h1 class="h1Secondary h1Blaa">Vi bruger dit bidrag med omtanke</h1>
    <div class="infografik-fordeling">
        <img src="img/infografik-fordeling.png" alt="infografik-fordeling">
    </div>
    
</section>

<style>



    .infografik-fordeling {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 80%;
    }

</style>