/* TEXT DESKTOP */

@media screen and (min-width: 800px) {
  h1 {
  }

  h2 {
  }

  h3 {
  }

  p {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }

  button {
    width: 136px;
    height: 39px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  /* FOOTER DESKTOP */
  .h1Footer {
    font-size: 55px;
  }
}
