/* MARGIN: 2rem til mobil!!*/

/* TEXT MOBIL */

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.h1Blaa {
  margin: 2rem;
  max-width: 15ch;
  text-align: left; /* EVT FØR TIL STOETFORDELING.ASTRO HVIS DET CONFLICTER MED ANDRE H1 */
}

h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
}

p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.BTN {
  width: 105px;
  height: 30px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

/* FOOTER MOBIL */

.h1Footer {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h2Footer {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.FooterRoed li {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
