/* GENERELT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-red: #ff1054;
  --form-active: #ff1054a5;
  --dark-blue: #01142a;
  --dark-blue-faded: rgba(1, 20, 42, 0.507);
  --white: #ffffff;
  --grey: #a0a0a0;
  --light-grey: #d9d9d9;
}

/* body {
  hyphens: auto;
} */

/* BAGGRUNDSFARVER */

.primaryBoxSection {
  background-color: var(--primary-red);
}

.secondaryBoxSection {
  background-color: var(--dark-blue);
}

.tertiaryBoxSection {
  background-color: var(--white);
}

.formBox {
  background-color: var(--dark-blue-faded);
  /* background-color: var(--dark-blue); */
}

/* TEXT */

.textUnderline {
  color: var(--primary-red);
}

h1,
h2,
h3 {
  font-family: Campton;
}

p,
li {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h1 {
  color: var(--white);
}

.h1Secondary {
  color: var(--dark-blue);
}

h2 {
  color: var(--white);
}

.h2Secondary {
  color: var(--dark-blue);
}

h3 {
  color: var(--white);
}

.h3Secondary {
  color: var(--dark-blue);
}

p {
  color: var(--white);
  max-width: 65ch;
}

.pSecondary {
  color: var(--dark-blue);
}

.citatPrimary {
  color: var(--white);
}

.citatSecondary {
  color: var(--primary-red);
}

li {
  color: var(--white);
}
/* BUTTONS */

button {
  cursor: pointer;
}

.BTN {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
}

.primaryBTN {
  background-color: var(--primary-red);
}

.primaryBTNText {
  color: var(--primary-red);
}

.secondaryBTN {
  background-color: var(--dark-blue);
}

.secondaryBTNText {
  color: var(--dark-blue);
}
.tertiaryBTN {
  background-color: var(--white);
}

.tertiaryBTNText {
  color: var(--white);
}

/* LINK */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--white);
  text-decoration: none;
}

/* FORM */

.formBox {
  background-color: var(--dark-blue);
}

.formTextPrimary {
  color: var(--white);
}

.formTextSecondary {
  color: var(--light-grey);
}

.formBTNActive {
  color: var(--form-active);
}

.inputText {
  color: var(--grey);
}

/* INSTA- BANNER */

.instagramBanner {
  background-color: var(--primary-red);
}
.instagramBannerText {
  color: var(--white);
}

/* HASHTAG-BANNER */

.hashtagBanner {
  background-color: var(--dark-blue);
}

.hashtagBannerText {
  color: var(--white);
}
