<section>
  <div class="parent_container">
    <div class="primaryBoxSection">
      <div class="pic_section">
        <div class="personBaggrund">
          <img src="/img/henrik.webp" alt="Billede af Henrik">
          <div class="infoText">
            <p class="personInfo">Stifter af Plastic Change og bestyrelsesforperson</p>
            <p class="navn">Henrik Beha Pedersen</p>
          </div>

        </div>
        <div class="personBaggrund">
          <img src="/img/mathias.webp" alt="Billede af Mathias">
          <div class="infoText">
            <p class="personInfo">Bestyrelsesmedlem og næstforperson</p>
            <p class="navn">Mathias Gredal Nørvig</p>
          </div>
        </div>
       
      </div>
    </div>

    <div class="secondaryBoxSection">
      <h2 class="hvem_er_vi">Hvem er vi?</h2>
      <div class="hvem_er_vi_p">
        <p>Plastic Change blev grundlagt i april 2014. Initiativet til at stifte Plastic Change blev taget af miljøbiolog Henrik Beha Pedersen i samarbejde med en række frivillige kræfter. </p>
        <p>Organisationen blev stiftet som en forening hjemme i Henriks dagligstue i Hellerup, hvor den holdt til de første år. I 2017 lykkedes det ved hjælp af fondsbevillinger at få råd til løn til en håndfuld medarbejdere og husleje i rigtige kontorlokaler.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .pic_section {
    display: flex;
    gap: 1rem;
  }

  .personBaggrund p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: var(--dark-blue);
    background-color: var(--white);
  }
  .infoText {
    background-color: var(--white);
    margin-left: 1rem;
    margin-right: 1.4rem;
    padding-top: 1rem;
    padding-left: 0.4rem;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
  }

  .navn {
    font-size: 1rem;
  }

  .personInfo {
    font-size: 7px;
  }

.secondaryBoxSection {
  padding-bottom: 1.5rem;
  hyphens: auto;
}
  .parent_container {
    display: flex;
    flex-direction: column; 
  }

  .primaryBoxSection {
    background-color: var(--primary-red);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 20rem;
  }

  .pic_section img {
    /* padding-top: 3rem; */
    width: 90%;
    padding-left: 1rem;
  }

  .about_section {
    flex: 1; 
    padding: 1.5rem;
    color: var(--primary-red);
  }

  .hvem_er_vi_p p {
  padding-left: 3rem;
  padding-bottom: 2rem;
  line-height: 1.3rem;
  padding-right: 2rem;
  hyphens: auto;
}

h2 {
  padding-bottom: 2rem;
  padding-top: 3rem;
  padding-left: 3rem;
}

  @media screen and (min-width: 800px) {

    .personInfo {
    font-size: 10px;
  }

    .infoText {
    background-color: var(--white);
    margin-left: 1.5rem;
    margin-right: 1.7rem;
    padding-left: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1rem;
  }

    .navn {
    font-size: 1.4rem;
  }

    .secondaryBoxSection {
      height: 40rem;
      padding: 1rem;
    }

    .hvem_er_vi_p p {
      padding-left: 4rem;
      padding-bottom: 2rem;
      line-height: 1.5rem;
      padding-right: 4rem;
    }

    h2 {
      padding-bottom: 2rem;
      padding-top: 7rem;
      padding-left: 4rem;
    }
    .parent_container {
      flex-direction: row; 
    }

    .primaryBoxSection {
      height: 40rem;
      width: 50%; 
    }

    .pic_section img {
      /* margin-top: 8rem; */
      gap: 100px;
      margin-left: 0.5rem;
    }

    .about_section {
      padding: 3rem;
    }
  }
</style>


