
<section>
    <div class="tertiaryBoxSection">
    <p class="citat">"</p>
    <h2>Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid.</h2>
    <p>Henrik Beha Pedersen, 2014</p>
    
</div>

    <div class="img_section">
<img src="../img/om_os_pic.png" alt="">
</div>

</section>
<style>

.citat {
font-size: 100px;
}
p {
    color: var(--primary-red);
    padding-top: 1rem;
    }

    img {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  .tertiaryBoxSection {
    flex: 1;
    height: 10rem;
    background-color: var(--white);
    padding-left: 1.5rem;
    padding-top: 3rem;
    line-height: 1.5rem;
  }

  .img_section {
    flex: 1;
  }

h2{
    color: var(--primary-red);
    font-size: 17px;
    line-height: 1.5rem;
}

@media screen and (min-width: 800px) {

h2 {
    font-size: 25px;
}

    img {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  .tertiaryBoxSection {
    flex: 1;
    height: 10rem;
    background-color: var(--white);
    padding-left: 1.5rem;
    padding-top: 5rem;
    line-height: 1.5rem;
  }

  .img_section {
    flex: 1;
  }
}

  
</style>
