    <section>
        <div class="tertiaryBoxSection">
        <p class="citat">"</p>
        <h2>Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid.</h2>
        <p class="beha">Henrik Beha Pedersen, 2014</p>   
    </div>

        <div class="img_section">
        <img src="../img/om_os_pic.png" alt="">
    </div>
</section>
    
<style>

.citat {
font-size: 100px;
}
p {
    color: var(--primary-red);
    padding-top: 0.5rem;
    }

    img {
    width: 100%;
    height: 100%;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  .tertiaryBoxSection {
    flex: 1;
    height: 10rem;
    background-color: var(--white);
    padding-left: 1.5rem;
    padding-top: 2rem;
    line-height: 1.5rem;
  }

  .img_section {
    flex: 1;
  }

h2{
    color: var(--primary-red);
    font-size: 17px;
    line-height: 1.2rem;
}

.beha {
  padding-bottom: 1rem;
}

@media screen and (min-width: 800px) {

h2 {
    font-size: 50px;
    line-height: 3.5rem;
}

.citat {
  font-size: 200px;

}

    img {
    width: 100%;
    height: 100%;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  .tertiaryBoxSection {
    flex: 1;
    height: 10rem;
    background-color: var(--white);
    padding-left: 3rem;
    padding-top: 15rem;
    line-height: 1.5rem;
  }

  .img_section {
    flex: 1;
  }
}

</style>

<script>

import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";


  gsap.registerPlugin(ScrollTrigger);
    gsap.from(".citat", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".tertiaryBoxSection",
        start: "top 90%",
        end: "bottom center ",
        scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from("h2", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".citat",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
      }
    });

    gsap.registerPlugin(ScrollTrigger);
    gsap.from(".beha", {
      x: -700,
      duration: 8,
      opacity: 0,
      stagger: 0.2,
      scrollTrigger: {
        trigger: "h2",
        start: "top 80%",
        end: "bottom center ",
        scrub: true,
      }
    });



</script>
