<div class="container">
    <section>
        <h2 class="h2Secondary">Hvorfor Plastic Change?</h2>
        <p class="pSecondary big-p-text-desktop">Baggrunden for Plastic Changes stiftelse er, at vi lever i en plastikkrise, hvor plastik definerer vores kultur, men hvor vi ikke må lade den defineres vores fremtid. <br> <br>
            I ly af de altoverskyggende klimaforandringer, der med rette har krævet verdens opmærksomhed, er vores problem med plastik vokset og vokset, så det i dag kan fremstå som en uoverskuelig udfordring. Vi har haft en forbrugsfest med plastik, og nu kommer tømmermændene. 
        </p>
    </section>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        margin: 3rem;
        hyphens: auto;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    h2 {
        text-align: left;
        padding-bottom: 2rem;
    }

    @media screen and (min-width: 800px) {

        .container {
            margin: 8rem;
        }

    }
</style>
