<section>
  <div class="primaryBoxSection">
    <div class="pic_section">
      <img src="../img/henrik.png" alt="">
      <img src="../img/mathias.png" alt="">
    </div>
  </div>
</section>

<style>
section {
    display: flex;
    flex-direction: row;
  }
.pic_section {
    flex: 1;
    display: flex;
   justify-content: center;
}

.primaryBoxSection {
  background-color: var(--primary-red);
  height: 20rem;
}

img {
    width: 45%;
    gap:2rem;
}

@media screen and (min-width: 800px) {

    .primaryBoxSection {
        height: 40rem;
    }
    img {
    padding-top: 5rem;
    width: 30%;
  }

  h2 {
    color: var(--primary-red);
    font-size: 17px;
    line-height: 1.5rem;
  }

}

</style>
