<section>
  <div class="primaryBoxSection">
    <div class="pic_section">
      <img src="../img/henrik.png" alt="">
      <img src="../img/mathias.png" alt="">
    </div>
  </div>
</section>

<style>
.pic_section {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .pic_section img {
    margin: 0 30px;
  }

.primaryBoxSection {
  background-color: var(--primary-red);
  height: 20rem;
}

img {
    width: 45%;
    gap:2rem;
}

@media screen and (min-width: 800px) {

  .pic_section img {
  margin-right: 10px;
  }

  .pic_section {
  display: flex;
}

.pic_section img {
  gap: 100px;
}
    .primaryBoxSection {
        height: 40rem;
        width: 100%;
    }
    img {
    padding-top: 5rem;
    width: 30%;
  }

  h2 {
    color: var(--primary-red);
    font-size: 17px;
    line-height: 1.5rem;
  }

}

</style>
