<div class="primaryBoxSection">
        <div class="pic_section">
            <img src="../img/henrik.png" alt="">
            <img src="../img/mathias.png" alt="">
        </div>
   
<style>

.pic_section {
    display: flex;
   justify-content: center;
}

.primaryBoxSection {
  background-color: var(--primary-red);
  height: 20rem;
}

img {
    width: 45%;
    gap:2rem;
}

</style>
