<section>
    <div class="section_one">
      <img src="../img/11_12-skrald.jpg" alt="">

      <div class="text-container">
        <p class="heading_p">OM PLASTIC CHANGE</p>
        <h1 class="heading">Vi kæmper for en verden uden plastikforurening</h1>
      </div>
    </div>

<div class="primaryBoxSection">
    <p class="red_section_p">
        Plastic Change kæmper vi for at ændre den forfærdelige situation vi står i, og den fremtid vi går i møde. Vi arbejder hele tiden med problemet fra flere sider, der skal gøre op med hvordan vi bruger plastik, så vi kan spare på jordens ressourcer når vi producerer.
    </p>
    
  </section>
<style>

     .section_one {
  position: relative;
  overflow: hidden; 
  margin-bottom: -4px;
}

.section_one img {
width: 200%;
height: 200%;
object-fit: cover; 
}

.text-container {
  position: absolute;
  top: 70%;
 padding-left: 2rem;
}

.heading_p {
    padding-bottom: 1rem;
}

.red_section_p {
    padding: 2rem;
    line-height: 1.5rem;
}

.primaryBoxSection {
  background-color: var(--primary-red);
  height: 12rem;
}



@media screen and (min-width: 800px) {

.section_one img {
      width: 100%;
      height: 40rem;
      object-fit: cover; /* Maintain aspect ratio and cover the container */
      display: block;
    }

  .red_section_p {
    padding: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    line-height: 2rem;
}

.primaryBoxSection {
  background-color: var(--primary-red);
  height: 20rem;
}

.text-container {
  position: absolute;
  top: 60%;
 padding-left: 2rem;
}

.red_section_p {
    padding: 7rem;
    padding-left: 8rem;
    padding-right: 8rem;
    line-height: 2rem;
}


}
</style>



