---
const { data } = Astro.props;
---

<button class="secondaryBTN BTN">
    <p class="tertiaryBTNText">{data}</p>
</button>

<style> /* RET TIL DE NYE KNAPPER */
    button:hover {
        background-color: var(--white);
    }

    button:hover p {
        color: var(--dark-blue);
    }
</style>