<section class="HBanner secondaryBoxSection">
    <h1>#plasticchange</h1>
</section>

<style>
    .HBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16rem;
    }

    .HBanner h1 {
        font-size: 11rem;
    }
</style>