<section class="HBanner secondaryBoxSection">
    <h1>#plasticchange</h1>
</section>

<style>
    .HBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
    }

    .HBanner h1 {
        font-size: 3.5rem;
    }

    @media screen and (min-width: 800px) {

    .HBanner {
        height: 16rem;
    }

    .HBanner h1 {
        font-size: 11rem;
    }
}
</style>