---
import BTNmikro from "./BTNmikro.astro";
import BTNheart from "./BTNheart.astro";
import SoMe from "./SoMe.astro";
---

<header>
    <div class="menu-container">
        <div class="main-menu" id="myHeader">
            <div class="logo-container">
                <li><a href="/index.html"><img src="/logo.webp" class="logo" alt="Plastic Change Logo"/></a></li>
            </div>
        
            <div class="icons">
              <ul>
                <li><a class="menuBTN" href="/rejsen.html"><BTNmikro class="mikroplastBTN" data="Mission mikroplastik"/></a></li>
                <li><a class="menuBTN" href="/stoet.html"><BTNheart data="Støt"/></a></li>
                <li class="burger-menu"><img src="/burgermenu.svg" alt="Burger-Menu" /></li>
              </ul>
            </div>
          </div>
    </div>

    <div class="overlaymenu-container">
        <div class="icons-close">
          <div class="whiteLogo">
            <li><a href="/index.html"><img src="/logo-white.webp" class="logo" alt="Plastic Change Logo"/></a></li>
          </div>
          <ul class="ulicons">
              <li class="burger-menu2"><img src="/burgermenu-luk.svg" alt="Burger-Menu2" /></li>
                <div class="storMenu">
                    <li><a href="/om_os.html">Om os</a></li>
                    <li><a href="/stoet.html">Støt nu</a></li>
                    <li><a href="/blivmedlem.html">Bliv medlem</a></li>
                    <li><a href="/rejsen.html">Mission Mikroplastik</a></li>
                    <hr>
              </div>
              <!-- <div class="SoMe" style="background-color: var(--dark-blue);">
                <SoMe bg="blue"/>
              </div> -->
          </ul>
          </div>
    </div>

</header>


<style>

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 92px;
  background-color: #01142a81;
}
.sticky + .content {
  /* padding-top: 102px; */
}

  .SoMe {
    background-color: var(--dark-blue);
    z-index: 1000;
  }

  .whiteLogo a {
    position: absolute;
  }
  hr {
        border: 0.5px solid var(--white);
        margin-top: 40px;
        width: 17rem;
  }
    header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    z-index: 1000;
    width: 100%;
    }

    .main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    }

    .menu-container {
        position: absolute;
        z-index: 10000;
        width: 100%;
    }
    
    body.menu-open .menu-container {
  display: none;
}


  .icons ul {
    display: flex;
    align-items: right;
    list-style-type: none; 
    gap: 1rem;
    padding: 1rem;
  }

  .icons {
    display: flex;
  }

    .logo {
    width: 280px;
    height: 93px;
    }

    .burger-menu img, .burger-menu2 img {
      width: 40px;
      height: 40px;
    }

  .burger-menu,
  .burger-menu2 {
    cursor: pointer;
    padding: 15px 25px;
    transition: 0.5s ease;
  }

  .burger-menu:hover, .burger-menu2:hover {
    opacity: 0.7;
    transition: 0.5s ease;
    }

  body .open {
    transform: translateX(0);
  }

  .overlaymenu-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-red);
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.2s;
    z-index: 99;
  }

  .burger-menu2 {
    display: flex;
    justify-content: right;
    text-align: right;
    z-index: 2000;
  }

  .storMenu {
    display: flex;
    justify-content: left;
    padding-left: 5rem;
    flex-direction: column;
    padding-top: 4rem;
  }

  .storMenu a {
    padding-top: 2rem;
  }

  .icons-close ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 1000;
    padding-right: 2rem;
    padding: 1rem;
  }

  .storMenu a:hover {
    color: var(--dark-blue);
    text-decoration: none;
    cursor: pointer;
  }

  .icons-close a {
    padding-right: 2rem;
    display: block;
    z-index: 1000;
    color: var(--white);
    font-family: CamptonBold;
    font-weight: 700;
    font-size: 40px;
  }

  .menuBTN {
    display: none;
    text-decoration: none;
  }


    @media screen and (min-width: 800px) {

      hr {
        border: 0.5px solid var(--white);
        margin-top: 40px;
        width: 45rem;
  }
      header {
      z-index: 1000;
      }

      .menuBTN {
      display: block;
    }

    .icons-close a {
    padding-right: 2rem;
    display: block;
    z-index: 1000;
    color: var(--white);
    font-family: CamptonBold;
    font-weight: 700;
    font-size: 70px;
  }
  .storMenu {
    padding-left: 21rem;
    padding-top: 4rem;
  }

  }

</style>

<script>
  // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
} 
</script>

<script>
  const overlaymenu = document.querySelector(".overlaymenu-container");
  const burgermenu = document.querySelector(".burger-menu");
  const close = document.querySelector(".burger-menu2");
  const close2 = document.querySelector("section");

  const some = document.querySelector(".SoMe")

  burgermenu.addEventListener("click", function () {
    overlaymenu.classList.add("open");
    document.body.classList.add("menu-open"); 
    some.classList.toggle("blue")
  });

  close.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open"); 
    some.classList.toggle("blue")

  });

  close2.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open");
  });

  overlaymenu.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open"); // Add this line
  });
</script>