---
import StoetFormPopUp from "./StoetFormPopUp.astro";
---
<div class="modal" id="modal">
    <div class="modal-inner">
      <button class="close" id="closeModal">
        <img src="/burgermenu-luk.svg" alt="Close">
    </button>
        <div class="stoetForm">
          <StoetFormPopUp/>
        </div>
    </div>
</div>
  
  <style>

    .modal {
      position: fixed;
      top: 0;
      left: left;
      right: 0;
      bottom: 0;
      display: none;
      z-index: 99999;
    }
    
    .modal-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .stoetForm {
    }

  
    .modal.open {
      display: flex;
    }

    .close {
    display: flex;
    justify-content: right;
    text-align: right;
    z-index: 2000;
    width: 40px;
    margin-bottom: -3rem;
    margin-left: 24.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    }

    @media screen and (min-width: 800px) {
      .close {
        margin-bottom: -5rem;
        margin-left: 30rem;
      }

      .modal {
      position: fixed;
      top: 10%;
      }
    }

  </style>
  
  <script>
    const closeBtn = document.getElementById("closeModal");
    const modal = document.getElementById("modal");
  
    closeBtn.addEventListener("click", () => {
      modal.classList.remove("open");
      console.log("Modal closed");
    });
  
    // Open the modal after 3 seconds
    setTimeout(() => {
      modal.classList.add("open");
      console.log("Modal opened");
    }, 2500);
  </script>
  