<section class="SoMe primaryBoxSection">
    <a class="SoMeIcon" href="https://www.facebook.com/plasticchange"><img src="public/icons/fb-icon.svg" class="icon" alt=""></a>
    <a class="SoMeIcon" href="https://www.instagram.com/plasticchange/"><img src="public/icons/insta-icon.svg" class="icon" alt=""></a>
    <a class="SoMeIcon" href="https://plasticchange.dk/"><img src="public/icons/tiktok-icon.svg" class="icon" alt=""></a>
    <a class="SoMeIcon" href="https://www.youtube.com/@plasticchange5159"><img src="public/icons/yt-icon.svg" class="icon" alt=""></a>
</section>

<style>
.SoMe {
    width: 50px;
    height: 140px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60%;
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 1000;
    cursor: pointer;
}

img {
    cursor: pointer;
}

.SoMe a:hover {
    color: var(--dark-blue);
}

</style>