---
const { data } = Astro.props;
---

<button class="tertiaryBTN">
    <p class="secondaryBTNText">{data}</p>
</button>

<style> /* RET TIL DE NYE KNAPPER */
    button:hover {
        background-color: var(--primary-red);
    }

    button:hover p {
        color: var(--white);
    }
</style>