---
const { data } = Astro.props;
---

<button class="primaryBTN">
    <p class="tertiaryBTNText">{data}</p>
</button>

<style> /* RET TIL DE NYE KNAPPER */
    button:hover {
        background-color: var(--white);
    }

    button:hover p {
        color: var(--primary-red)
    }
</style>