---

---


<footer>
    <div class="secondaryBoxSection FooterBlaa">
        <h1 class = h1Footer>Gå ikke glip af nyhedsbrevet!</h1>
        <form>
            <input type="text" id="E-mail" value="Skriv din e-mail her"></label>
        </form>
    </div>

    <div class="primaryBoxSection">
        <div class="FooterRoed">
            <ul>
                <h2 class = "h2Footer">Kontakt</h2>
                <li>Mail: info@plasticchange.org</li>
                <li>Tlf: + 45 42 66 72 46</li>
                <li>Telefontid: Mandag-Fredag</li>
                <li>Kl. 10:00 - 15:00</li>
                <li><a href="https://plasticchange.dk/presse/">Presse</a></li>
            </ul>

            <ul>
                <h2 class = "h2Footer">Generelt</h2>
                <li><a href="/stoet.html">Støt nu</a></li>
                <li><a href="/blivmedlem.html">Bliv medlem</a></li>
                <li><a href="https://plasticchange.dk/hvem-er-vi/">Hvad vi vil</a></li>
                <li><a href="https://plasticchange.dk/videnscenter/">Videnscenter</a></li>
                <li><a href="https://plasticchange.dk/bestyrelse/">Medlemmer & bestyrelse</a></li>
                <li><a href="https://plasticchange.dk/faq/">FAQ</a></li>
            </ul>
        <div/>
    </div>
     <p>© 2024 Plastic Change</p> <!--Den læser koden forkert. Denne p burde stå indeni! -->


</footer>

<style>
    
    .FooterBlaa {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        padding: 2rem;
        width: 100%;
    }

    .FooterRoed {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 45px;
        padding: 2rem;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        list-style: none;
    }

    .h2Footer {
        padding-bottom: 10px;
    }

    p {
        text-align: center;
        padding-bottom: 2rem;
    }


    @media screen and (min-width: 800px) {
        footer {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        } 

        .FooterRoed {
        flex-direction: row;
        gap: 160px;
        }

        ul {
        gap: 5px;
        list-style: none;
        }

        p {
        text-align: left;
        padding-bottom: 2rem;
        padding: 2rem;
        }
        
    }
    
</style>