<footer>
    <div class="FooterBlaa">
        <h1>Gå ikke glip af nyhedsbrevet!</h1>
        <form>
            <input type="text" id="E-mail" value="Skriv din e-mail her"></label>
        </form>
    </div>
    <div class="FooterRoed">
        <ul>
            <h3>Kontakt</h3>
            <li>Mail: info@plasticchange.org</li>
            <li>Tlf: + 45 42 66 72 46</li>
            <li>Telefontid: Mandag-Fredag</li>
            <li>Kl. 10:00 - 15:00</li>
            <li>Presse</li>
        </ul>

        <ul>
            <h3>Generelt</h3>
            <li>Støt nu</li>
            <li>Bliv medlem</li>
            <li>Hvad vi vil</li>
            <li>Videnscenter</li>
            <li>Medlemmer & bestyrelse</li>
            <li>FAQ</li>
        </ul>
    </div>

    <p>© 2024 Plastic Change</p>

</footer>

<style>
    .FooterBlaa {
        background-color: var(--dark-blue)
    }

    .FooterRoed {
        background-color: var(--primary-red)
    }
    
</style>