---
import "../styles/style.css"
import "../styles/mobil.css"
import "../styles/desktop.css"
const { title } = Astro.props;
import HeaderProeve from "../components/general/HeaderProeve.astro";
import Footer from "../components/general/Footer.astro";
import SoMe from "../components/general/SoMe.astro";
import InstaBanner from "../components/general/InstaBanner.astro";
import InstagramSection from "../components/general/InstagramSection.astro";
---

<html lang="da">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_ps.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <meta
		name="description"
		content="Mission Mikroplastik er et kampagnesite for Plastic Change, der ønsker at sætte fokus på den indflydelse mikroplastik har på ikke blot jorden, men os mennesker."
	  />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<HeaderProeve/>
		<SoMe/>
			<slot/>
		<InstagramSection/>
		<Footer/>
	</body>
</html>
