---
import "../styles/style.css"
import "../styles/mobil.css"
import "../styles/desktop.css"
const { title } = Astro.props;
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
---

<html lang="da">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <meta
		name="description"
		content="Dette website er et kampagnesite om mikroplastik, for organisationen Plastic Change. Plastic Change er en dansk miljøorganisation, som blev grundlagt i 2014 af miljøbiolog Henrik Beha Pedersen. Hovedformålet med foreningens arbejde er at bekæmpe plastikforurening ved at reducere produktion og forbrug af plastik, ved blandt andet at udbrede genbrug."
	  />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
			<slot/>
		<Footer/>
	</body>
</html>
